{% load static %}
<!-- 네비게이션 바 / django에서 따로 빼야됨 -->
<nav id="navBar">
  <!-- 작은 화면에서 메뉴바가 작동하는 함수(js)를 위해 id값을 줌 -->
  <a href="/index"
    ><img src="/static/img/logo.png" class="logo" alt="project logo image"
  /></a>
  <ul class="nav-links">
    <li><a href="/car_repair_calculation_Page" class="active">견적분석</a></li>
    <li><a href="/board">커뮤니티</a></li>
    <li><a href="/map">주변 공업사 찾기</a></li>
  </ul>
  {% if user.is_active %}

  <img src="/static/img/user.png" class="user-pic" onclick="toggleMenu()" />
  <!-- 프로필 사진 클릭시 드롭다운 프로필 메뉴가 나타나는 js와 상관있음 -->
  <i class="fa-solid fa-bars" onclick="togglebtn()"></i>

  <div class="sub-menu-wrap" id="subMenu">
    <div class="sub-menu">
      <div class="user-info">
        <img src="/static/img/user.png" />
        <h4>{{user.nickname}}</h4>
      </div>
      <hr />

      <a href="/my_page" class="sub-menu-link">
        <p>마이페이지</p>
        <span>></span>
      </a>
      <a href="/logout" class="sub-menu-link">
        <p>로그아웃</p>
        <span>></span>
      </a>

      <a href="/delete" class="ub-menu-link">
        <p>회원탈퇴</p>
        <span>></span>
      </a>
    </div>
  </div>
  {% else %}
  <a href="/sns_login_form" class="login-btn">login</a>
  <i class="fa-solid fa-bars" onclick="togglebtn()"></i>
  {% endif %}
</nav>
