{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script
      type="text/javascript"
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    {% include 'mainapp/include/css.html' %}
  </head>
  <body>
    <div class="container2">
      <div class="form-box">
        <i
          class="fa-solid fa-arrow-left"
          id="back-arrow"
          onclick="location.href='/index'"
        ></i>
        <!-- 뒤로 가기위한 버튼 -->
        <a href="/index"><img class="form-img" src="/static/img/logo.png" /></a>
        {% if validlink %}
        <form method="POST">
          {% csrf_token %}
          <div class="input-group">
            <p>비밀번호 재설정을 완료해주세요.</p>
            <div class="input-field">
              <i class="fa-solid fa-user" id="id-icon"></i>
              <input
                type="password"
                name="new_password1"
                placeholder="새로운 비밀번호"
                required
              />
            </div>
            <div class="input-field">
              <i class="fa-solid fa-user" id="id-icon"></i>
              <input
                type="password"
                name="new_password2"
                placeholder="비밀번호 확인"
                required
              />
            </div>

            <div class="form-btn">
              <button>비밀번호 변경</button>
            </div>
          </div>
        </form>
        {% else %}
        <p>링크가 유효하지 않습니다.</p>
        {% endif %}
      </div>
    </div>

    <script src="login.js"></script>
    <!-- 페이지 뒤로가기 -->
    {% comment %}
    <script>
      const back = () => {
        window.history.back();
      };
    </script>
    {% endcomment %}
  </body>
</html>
