{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script
      type="text/javascript"
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    {% include 'mainapp/include/css.html' %}
  </head>
  <body>
    <div class="container2">
      <div class="form-box">
        <i
          class="fa-solid fa-arrow-left"
          id="back-arrow"
          onclick="location.href='/index'"
        ></i>
        <!-- 뒤로 가기위한 버튼 -->
        <a href="/index"><img class="form-img" src="/static/img/logo.png" /></a>
        <form method="POST" action="/login_form/">
          <div class="input-group">
            <p>
              성공적으로 이메일을 전송하였습니다.</br>
              이메일을 확인 하여 비밀번호를 변경하여주세요
            </p>

            <div class="form-btn">
              <button>로그인 화면으로</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="login.js"></script>
    <!-- 페이지 뒤로가기 -->
    {% comment %}
    <script>
      const back = () => {
        window.history.back();
      };
    </script>
    {% endcomment %}
  </body>
</html>
