{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      type="text/javascript"
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    {% include 'mainapp/include/css.html' %}
  </head>
  <body>
    <div class="container2">
      <div class="form-box">
        <i class="fa-solid fa-arrow-left" id="back-arrow" onclick="back()"></i>
        <!-- 뒤로 가기위한 버튼 -->
        <a href="/index"><img class="form-img" src="/static/img/logo.png" /></a>

        <div class="input-group">
          <h1>아이디찾기</h1>
          <hr />
          <br />
          <h4>회원의 아이디</h5>
            <br />
            <br />
            
            <h4>{{username}}</h5>
                
                <br />
                <br />
                
          <form action="/login_form">
            <div class="form-btn">
              <button>로그인</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="login.js"></script>

    <!-- 페이지 뒤로가기 -->
    <script>
      const back = () => {
        window.history.back();
      };
    </script>
  </body>
</html>
