{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    {% include 'mainapp/include/css.html' %}
</head>
<body>
   <div class="container2">
    <div class="form-box">
        <i class="fa-solid fa-arrow-left" id="back-arrow" onclick="back()" ></i>
        <!-- 뒤로 가기위한 버튼 -->
        <a href="/index"><img class="form-img" src="/static/img/logo.png"></a>
        <form>
            <div class="input-group">
                
                <h1>아이디찾기</h1>
                <hr>
                <br>
                <h5>이메일로 찾기</h5>
                <div class="input-field">
                    <i class="fa-solid fa-user" id="id-icon"></i>
                    <input type="email" placeholder="이메일">
                </div>
            
                <div class="form-btn">
                    <button>확인</button>
                </div>

                <br>
                <h5>전화번호로 찾기</h5>
                <div class="form-btn">
                    <button>본인인증하기</button>
                </div>
                
            </div>

        </form>
    </div>
   </div>

    <script src="login.js"></script>
    
    <!-- 페이지 뒤로가기 -->
    <script>
        const back = () =>{
            window.history.back();
        }
    </script>
</body>
</html>