{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>:::아이디찾기:::</title>
    <script
      type="text/javascript"
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    {% include 'mainapp/include/css.html' %}
  </head>
  <body>
    <div class="container2">
      <div class="form-box">
        <i class="fa-solid fa-arrow-left" id="back-arrow" onclick="location.href='/index'"></i>
        <!-- 뒤로 가기위한 버튼 -->
        <a href="/index"><img class="form-img" src="/static/img/logo.png" /></a>

        <div class="input-group">
          <h1>아이디찾기</h1>
          <hr />
          <br />
          <h5>비밀번호로 찾기</h5>
          <form method="POST" action="/forgot_id/">
            {% csrf_token %}
            <div class="input-field">
              <i class="fa-solid fa-lock" id="pwd-icon"></i>
              <input type="email" name="email" placeholder="비밀번호" required />
            </div>

            <div class="form-btn">
              <button>확인</button>
            </div>
          </form>

          <br />
        
          
        </div>
      </div>
    </div>

    <script src="login.js"></script>

   
  </body>
</html>
