{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    {% include 'mainapp/include/css.html' %}
</head>
<body>
   <div class="container2">
    <div class="form-box">
        <i class="fa-solid fa-arrow-left" id="back-arrow" onclick="back()"></i> 
        <!-- 뒤로 가기위한 버튼 -->
        <a href="/index"><img class="form-img" src="/static/img/logo.png"></a>
        <form>
            <div class="input-group">
               
            <p>아이디 확인 후 등록된 이메일 주소로 비밀번호 재설정을 위한 인증 메일이 발송됩니다.<br>
                이메일을 확인하여 12시간 이내에 비밀번호 재설정을 완료해주세요.</p>
                <div class="input-field">
                    <i class="fa-solid fa-user" id="id-icon"></i>
                    <input type="text" placeholder="아이디" required>
                </div>

                <div class="form-btn">
                    <button>확인</button>
                </div>
                
            </div>

        </form>
    </div>
   </div>

    <script src="login.js"></script>
    <!-- 페이지 뒤로가기 -->
    <script>
        const back = () =>{
            window.history.back();
        }
    </script>
</body>
</html>