{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::회원가입폼:::</title>
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="{% static '/mainapp/css/sign_up.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/sign_up.css">
</head>
<body>
   <div class="container2">
    <div class="form-box">
        <i class="fa-solid fa-arrow-left" id="back-arrow" value="뒤로돌아가기" onclick="location.href='/index'"></i> 
        <a href="/index"><img class="form-img" src="/static/img/logo.png"></a>
        <form method="POST" action="/Ssign_up/">
            {% csrf_token %}
            <div class="input-group">
                
                <div class="input-field">
                    <i class="fa-solid fa-user" id="id-icon"></i>
                    <input name="username" type="text" placeholder="아이디">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock" id="pwd-icon"></i> 
                    <input name="password1" id="password" type="password" placeholder="비밀번호" >
                    <i class="fa-solid fa-eye-slash" id="pwd-see-icon" onclick="eye_ch()"></i>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock" id="pwd-icon"></i>
                    <input name="password2" type="password" placeholder="비밀번호 재확인">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-envelope" id="pwd-icon"></i>
                    <input name="email" type="email" placeholder="본인확인 이메일">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-phone" id="pwd-icon"></i>
                    <input name="phon" type="tel" placeholder="전화번호">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-user" id="pwd-icon"></i>
                    <input name="nickname" type="text" placeholder="닉네임">
                </div>

                <div>    
    
                    <!-- 이용약관 -->
        
                        <p class="sign_up_text">    
                            약관 동의
                        </p>
                        <hr>
                        
                        <div class="checkbox_group">
        
                            <!-- 전체 동의 -->
                       
                            <div>
                                <label style="white-space: nowrap;">
                                    <input type="checkbox" name="terms" id="check_all" value='selectAll' onclick='selectAll(this)'>
                                    <span class='text' >전체 동의</span> 
                                </label>    
                            </div>
                            
                            <!-- 필수 1 -->
                            <div>
                                <label style="white-space: nowrap;">
                                    <input type="checkbox" name="terms" id="check_1" class="normal" required>
                                    <span>(필수) 개인 정보 동의 <button>자세히보기</button></span>
                                </label>    
                            </div>
                            
                            <!-- 필수 2 -->
                            <div>
                                <label style="white-space: nowrap;">
                                <input type="checkbox" name="terms" id="check_2" class="normal" required>
                                <span>(필수) 개인회원 약관 <button>자세히보기</button></span>
                                </label>
                            </div>    
                            
        
                            <!-- 선택 1 -->
                            <div>
                                <label style="white-space: nowrap;">
                                <input type="checkbox" name="terms" id="check_3" class="normal">
                                <span>(선택) 이메일 광고 수신<button>자세히보기</button></span>
                                </label>
                            </div>
                            
                            <!-- 선택 2 -->
                            <div>
                                <label style="white-space: nowrap;">
                                <input type="checkbox" name="terms" id="check_3" class="normal">
                                <span>(선택) SMS 광고 수신<button>자세히보기</button></span>
                                </label>
                            </div>
        
                        </div> 
                       
                    <div class="form-btn">
                        <button>가입하기</button>
                    </div>
                </div>

            </div>  
            
            
        </form>

        
    </div>
   

    <script>
    function selectAll(selectAll)  {
        const checkboxes 
             = document.getElementsByName('terms');
        
        checkboxes.forEach((checkbox) => {
          checkbox.checked = selectAll.checked;
        })
      }
      function eye_ch(){
        if(password.type == "password"){
                password.type= "text";
                

            }else{
                password.type= "password";
        }
    }
   
    
    </script>
</body>
</html>