{% load static %}
    <!DOCTYPE html>
    <html lang="ko">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>:::회원가입 성공:::</title>

        <!-- 아이콘 관련 코드 신경x -->
        <script type="text/javascript" src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
      
        {% include 'mainapp/include/css.html' %}
      </head>
      <body>
        <div class="container2">
          <div class="form-box">
            <a href="/index"><img class="form-img" src="/static/img/logo.png" /></a>
            <br>
            <p>회원가입이 성공적으로 완료 되었습니다!<p>
                <br>
            <div class="form-btn">
                <button type="button" onclick="location.href='/login_form/'">
                    시작하기
                </button>
            </div>
            
          </div>
        </div>
    
      </body>
    </html>
    