<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    {% include 'mainapp/include/css.html' %}
    <!-- css파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/board01.css">
</head>
<body>
    <div class="header">
        {% include 'mainapp/include/navbar.html' %}
    </div>

    <div class="container">
        <!-- message 표시 추가 시작부분 -->
        {% if messages %}
        <div class='alert alert_danger my-3' role="alert">
            {% for message in messages %}
            <strong>{{ message.messages }}
            {% endfor %}
        </div>
        {% endif %}
        <!-- message 표시 추가 끝부분 -->
        <div class="board_wrap">
        <div class="board_title">
            <strong>게 시 판</strong>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    <p>{{ community.com_title }}</P>
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>{{ community.com_num }}</dd>
                    </dl>
                    {% if community2.nickname == None %}
                    <dl>
                        <dt>글쓴이</dt>
                        {% if community.nickname != None %}
                        <dd>{{ community.username }}</dd>
                        {% else %}
                        <dd>{{ community.username }}</dd>
                        {% endif %}
                    </dl>
                    {% else %}
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>{{ community.nickname }}</dd>
                    </dl>
                    {% endif %}
                    <dl>
                        <dt>작성일</dt>
                        <dd>{{ community.comment_create_date }}</dd>
                    </dl>
                    <dl>
                        <dt>조회수</dt>
                        <dd>{{ community.com_count }}</dd>
                    </dl>
                </div>
                <div class="cont">
                    {{ community.com_content }}
                </div>
            </div>
            <div class="bt_wrap">
                <a href="/board" class="on">목록</a>
                <a href="{% url 'mainapp:com_update' community.com_num %}">수정</a>
            </div>
        </div>
    </div>
               
        
            





        </div>  
    </div>
          
     <!-- js파일불러오기 -->
     <script src="/static/js/user.js"></script>
</body>
</html>