{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 게시판 페이지 :::</title>
    <!-- css파일 불러오기 -->
    {% include 'mainapp/include/css.html' %}
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/board.css">
 
</head>
<body>
    <div class="header">
        {% include 'mainapp/include/navbar.html' %}
    </div>
    
        <div class="container">
            <h2>게시판</h2>
            
            <!-- 게시판 -->
            <div class="table-box">

                <div class="table-row table-head">
                    <div class="table-cell first-cell">
                        <p>순번</p>
                    </div>
                    <div class="table-cell">
                        <p>카테고리</p>
                    </div>
                    <div class="table-cell">
                        <p>제목</p>
                    </div>
                    <div class="table-cell">
                        <p>작성자</p>
                    </div>
                    <div class="table-cell last-cell">
                        <p>작성일</p>
                    </div>
                    
                </div>
            <!-- ----------------------db랑 연결시 이부분만 수정하면 됨----------------------- -->
                <div class="table-row">
                    <div class="table-cell first-cell">
                        <p>{{com_num}}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{cate_name}}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{com_title}}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{nickname}}</p>
                    </div>
                    <div class="table-cell last-cell">
                        <p>{{com_date}}</p>
                    </div>
                    
                </div>


                 <!-- ------------로그인 한 사람만 글쓰기 가능하도록--------------- -->
                 {% if user.is_active %}
                 <button type="button" onclick="location.href='/article'">글쓰기</button>
                
                {% else %}
                <button type="button" onclick="btn_clink()">글쓰기</button>
                   
                {% endif %}
               
                
               
                <li>
                    <div id="divPaging">
                        <div>◀</div>
                        <div><b>1</b></div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                        <div>▶</div>
                    </div>
                </li>
            </div>

    </div>
    

    <!-- js파일불러오기 -->
    <script src="/static/js/user.js"></script>
    <script>
        function btn_clink(){
            alert("로그인 후 이용가능 합니다.");
            location.href = "/sns_login_form";
        }
    </script>
</body>
</html>