{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 게시판 페이지 :::</title>
    <!-- css파일 불러오기 -->
    {% include 'mainapp/include/css.html' %}
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/board.css">
 
</head>
<body>
    <div class="header">
        {% include 'mainapp/include/newnav.html' %}
    </div>
    
        <div class="container">
            <h2>게시판</h2>
            <li id='liSearchOption'>
                <div>
                    <select id='selSearchOption' >
                        <option value='A'>제목+내용</option>
                        <option value='T'>제목</option>
                        <option value='C'>내용</option>
                    </select>
                    <input id='txtKeyWord' />
                    <input type='button' value='검색'/>
                </div>
            </li>
            <!-- 게시판 -->
            <div class="table-box">

                <div class="table-row table-head">
                    <div class="table-cell first-cell">
                        <p>순번</p>
                    </div>
                    <div class="table-cell">
                        <p>제목</p>
                    </div>
                    <div class="table-cell">
                        <p>작성자</p>
                    </div>
                    <div class="table-cell last-cell">
                        <p>작성일</p>
                    </div>
                    
                </div>
            
                <div class="table-row">
                    <div class="table-cell first-cell">
                        <p>001</p>
                    </div>
                    <div class="table-cell">
                        <p>견적비용확인좀</p>
                    </div>
                    <div class="table-cell">
                        <p>홍길동</p>
                    </div>
                    <div class="table-cell last-cell">
                        <p>23.06.12</p>
                    </div>
                    
                </div>
                <div class="table-row">
                    <div class="table-cell first-cell">
                        <p>002</p>
                    </div>
                    <div class="table-cell">
                        <p>견적비용확인좀22</p>
                    </div>
                    <div class="table-cell">
                        <p>홍길동</p>
                    </div>
                    <div class="table-cell last-cell">
                        <p>23.06.13</p>
                    </div>
                    
                </div>
                
                <button type="button" onclick="location.href='/article'">글쓰기</button>
                
               
                <li>
                    <div id="divPaging">
                        <div>◀</div>
                        <div><b>1</b></div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                        <div>▶</div>
                    </div>
                </li>
            </div>
            <!-- 게시판 -->

        <!-- <form id="fm" name="fm" method="post" action="/Post_send/">
            <div class="board">
            <h3>게시글 작성하기</h3>
            <hr/>
            <table>
                <div class="p-table1">
                <tr>
                    <th>카테고리 :  </th>
                    <td>
                        <select name="category">
                            <option value="카테고리1">카테고리1</option>
                            <option value="카테고리2">카테고리2</option>
                            <option value="카테고리3">카테고리3</option>
                          
                        </select>
                    </td>

                    <th>제목 :  </th>
                    <td><input type="text" name="title" size="25" style="height: 35px;" required></td>
                </tr>
                </div>
                
                <div class="p-table2">
                <tr>
                    <th>내용</th>
                    <td colspan="3">
                        <textarea name="content" rows="20" cols="55" required></textarea>
                    </td>
                </tr>
                </div>
                <tr class="button-row">
                    <td colspan="4" style="text-align: right;">
                        <input type="button" value="글 작성" onclick="oneSelect()"> 
                        <input type="button" value="cancel post" onclick="history.back()">

                    </td>
                </tr>
            </table>
                
            </div>

        </form> -->

    </div>
    
    

    <!-- js파일불러오기 -->
    <script src="/static/js/user.js"></script>
</body>
</html>