{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- header부분 -->
    {% include 'mainapp/include/css.html' %}
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mypage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/board.css">

</head>
<body>
    <div class="header">
    {% include 'mainapp/include/navbar.html' %}
</div>
        <div class="hero">
            <div class = "btn-box">
                <button id="btn1" onclick="openHTML()"><i class="fa-solid fa-user-pen"></i>정보 수정</button>
                <button id="btn2" onclick="openCSS()"><i class="fa-solid fa-table-list"></i>이력 관리</button>
                
            </div>


            <div class="content" id="content1">
                <div class="content-left">
                    <h2 align="left">마이페이지</h2>
                    <br>
                    
                    <table class="table_my_page">
                        <tbody>   
                            <tr>
                                <th id="table-title">회원정보</th>
                                <td>
                                    <div class="nick-row">
                                        <h3>닉네임</h3>
                                        <form action="/my_page/nickname/" method="POST">
                                            {% csrf_token %}
                                       <input type="text" name="nickname" placeholder="현재 닉네임" value="{{user.nickname}}">
                                       <button class="img-btn">닉네임 수정</button>
                                        
                                       <hr style="width: 80%; margin-top: 10px;">
                                    </form>
                                    </div>
                                    <div class="only-read-row">
                                        <h3 style="margin-bottom: 5px;">이메일</h3>
                                        {{user.email}}
                                        <hr style="width: 80%; margin-top: 10px;">
                                        <h3 style="margin-bottom: 5px;">전화번호</h3>
                                        {{user.phon}}

                                    </div>
                                </td>
                            </tr>
                            <form method="POST" action="/my_page/change_pwd/">
                              {% csrf_token %}
                            <tr>
                                <th id="table-title">비밀번호 변경</th>
                                <td>
                                  <div class="error_message">
                                    {% if messages %}
	                                    {% for message in messages %}
                                        {{ message.message }}
                                      {% endfor %}
                                    {% endif %}
                                    {{error}}
                                  </div>
                                    <div class="ch-pwd-row">
                                        <div style="display: flex; flex-direction: row;">
                                            <input type="password" name="password" placeholder="현재 비밀번호">
                                            <!-- <i class="fa-solid fa-check"></i> -->
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                            <input type="password" id="password" name="new_password1" placeholder="변경 비밀번호">
                                            <i class="fa-solid fa-eye" id="pwd-see-icon" onclick="eye_ch()" style="color: rgb(194, 194, 194); position: absolute; top: 75%; right: 32%;"></i>
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                          <input type="password" name="new_password2" placeholder="변경 비밀번호 재입력">
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                          <button class="img-btn">변경</button>
                                        </div>

                                    </div>
                                    
                                    
                                </td>
                            </tr>
                            </form>
                        </tbody>
                    </table>
                    
                    
                </div>
            </div>


            <div class="content" id="content2">
                <div class="content-left">
                    <h2 align="left">게시글 내역</h2>
                    

                    <div class="table-box">

                        <div class="table-row table-head">
                            <div class="table-cell first-cell">
                                <p>순번</p>
                            </div>
                            <div class="table-cell">
                                <p>제목</p>
                            </div>
                            <div class="table-cell">
                                <p>작성자</p>
                            </div>
                            <div class="table-cell last-cell">
                                <p>작성일</p>
                            </div>
                            
                        </div>
                    
                        <div class="table-row">
                            <div class="table-cell first-cell">
                                <p>{{community.com_num}}</p>
                            </div>
                            <div class="table-cell">
                                <p>{{community.com_title}}</p>
                            </div>
                            <div class="table-cell">
                                <p>{{community.nickname}}</p>
                            </div>
                            <div class="table-cell last-cell">
                                <p>{{community.com_date}}</p>
                            </div>
                            
                        </div>
                    </div>
                        
                        <li>
                            <div id="divPaging">
                                <div>◀</div>
                                <div><b>1</b></div>
                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>5</div>
                                <div>▶</div>
                            </div>
                        </li>



                        <h2 align="left">댓글 내역</h2>
                        <div class="table-box">

                            <div class="table-row table-head">
                                <div class="table-cell first-cell">
                                    <p>댓글내용</p>
                                </div>
                                <div class="table-cell">
                                    <p>글 제목</p>
                                </div>
                                
                                <div class="table-cell last-cell">
                                    <p>작성일</p>
                                </div>
                                
                            </div>
                        
                            <div class="table-row">
                                <div class="table-cell first-cell">
                                    <p>견적겁나비싸네</p>
                                </div>
                                <div class="table-cell">
                                    <p>견적비용확인좀</p>
                                </div>
                                
                                <div class="table-cell last-cell">
                                    <p>23.06.12</p>
                                </div>
                                
                            </div>
                            
                            <li>
                                <div id="divPaging">
                                    <div>◀</div>
                                    <div><b>1</b></div>
                                    <div>2</div>
                                    <div>3</div>
                                    <div>4</div>
                                    <div>5</div>
                                    <div>▶</div>
                                </div>
                            </li>
                        </div>
                    </div>

                       
                </div>
            </div>

            
        </div>
    

    <script src="/static/js/yun.js"></script>
    <script src="/static/js/user.js"></script>
    <script>
        // 비밀번호 보여주는 함수
        function eye_ch(){
            if(password.type == "password"){
                    password.type= "text";

                }else{
                    password.type= "password";
            }
        }
    </script>
</body>
</html>