{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- header부분 -->
    {% include 'mainapp/include/css.html' %}
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mypage.css">

</head>
<body>
    <div class="header">
    {% include 'mainapp/include/newnav.html' %}
</div>
        <div class="hero" id="testt">
            <div class = "btn-box">
                <button id="btn1" onclick="openHTML()"><i class="fa-solid fa-user-pen"></i>정보 수정</button>
                <button id="btn2" onclick="openCSS()"><i class="fa-solid fa-table-list"></i>이력 관리</button>
                <button id="btn3" onclick="openJAVASCRIPT()"><i class="fa-solid fa-lock"></i>회원 탈퇴</button>
            </div>


            <div class="content" id="content1">
                <div class="content-left">
                    <h2>마이페이지</h2>
                    
                    <table class="table_my_page">
                        <tbody>
                            <tr>
                                <th>프로필 수정</th>
                                <td>
                                    <div class="btn-img-row">
                                        <div class="profile_img"><img src="/static/img/r_1.png" alt="image"></div>
                                        <div class="buttons">
                                            <button class="img-btn">사진 변경</button>
                                            <button class="img-btn">사진 삭제</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호 변경</th>
                                <td>
                                    <div class="ch-pwd-row">
                                        <div style="display: flex; flex-direction: row;">
                                            <input type="password" placeholder="현재 비밀번호">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                            <input type="password" placeholder="변경할 비밀번호">
                                            
                                            <button class="img-btn">변경</button>
                                        </div>
                                    </div>
                                    
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    
                </div>
            </div>


            <div class="content" id="content2">
                <div class="content-left">
                    <h2 align="left">게시글 내역</h2>
                    <div class="table-box">

                        <div class="table-row table-head">
                            <div class="table-cell first-cell">
                                <p>순번</p>
                            </div>
                            <div class="table-cell">
                                <p>제목</p>
                            </div>
                            <div class="table-cell">
                                <p>작성자</p>
                            </div>
                            <div class="table-cell last-cell">
                                <p>작성일</p>
                            </div>
                            
                        </div>
                    
                        <div class="table-row">
                            <div class="table-cell first-cell">
                                <p>001</p>
                            </div>
                            <div class="table-cell">
                                <p>견적비용확인좀</p>
                            </div>
                            <div class="table-cell">
                                <p>홍길동</p>
                            </div>
                            <div class="table-cell last-cell">
                                <p>23.06.12</p>
                            </div>
                            
                        </div>
                        <div class="table-row">
                            <div class="table-cell first-cell">
                                <p>002</p>
                            </div>
                            <div class="table-cell">
                                <p>견적비용확인좀22</p>
                            </div>
                            <div class="table-cell">
                                <p>홍길동</p>
                            </div>
                            <div class="table-cell last-cell">
                                <p>23.06.13</p>
                            </div>
                            
                        </div>
                        
                        <li>
                            <div id="divPaging">
                                <div>◀</div>
                                <div><b>1</b></div>
                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>5</div>
                                <div>▶</div>
                            </div>
                        </li>
                    </div>

                        <h2 align="left">댓글 내역</h2>
                        <div class="table-box">

                            <div class="table-row table-head">
                                <div class="table-cell first-cell">
                                    <p>댓글내용</p>
                                </div>
                                <div class="table-cell">
                                    <p>글 제목</p>
                                </div>
                                
                                <div class="table-cell last-cell">
                                    <p>작성일</p>
                                </div>
                                
                            </div>
                        
                            <div class="table-row">
                                <div class="table-cell first-cell">
                                    <p>견적겁나비싸네</p>
                                </div>
                                <div class="table-cell">
                                    <p>견적비용확인좀</p>
                                </div>
                                
                                <div class="table-cell last-cell">
                                    <p>23.06.12</p>
                                </div>
                                
                            </div>
                            
                            <li>
                                <div id="divPaging">
                                    <div>◀</div>
                                    <div><b>1</b></div>
                                    <div>2</div>
                                    <div>3</div>
                                    <div>4</div>
                                    <div>5</div>
                                    <div>▶</div>
                                </div>
                            </li>
                        </div>
                </div>
            </div>

            
            
            



            <div class="content" id="content3">
                <div class="content-left">
                    <img src="/static/img/r_2.png">
                    <p>닉네임</p>
                    <a href="#" style="position: absolute; left: 50%; transform: translateX(-50%);">회원탈퇴</a>
                </div>

            </div>
            
        </div>
    

    <script src="/static/js/yun.js"></script>
    <script src="/static/js/user.js"></script>

</body>
</html>