{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- header부분 -->
    {% include 'mainapp/include/css.html' %}
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mypage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/board.css">

</head>
<body>
    <div class="header">
    {% include 'mainapp/include/navbar.html' %}
</div>
        <div class="hero">
            <div class = "btn-box">
                <button id="btn1" onclick="openHTML()"><i class="fa-solid fa-user-pen"></i>정보 수정</button>
                <button id="btn2" onclick="openCSS()"><i class="fa-solid fa-table-list"></i>이력 관리</button>
                
            </div>


            <div class="content" id="content1">
                <div class="content-left">
                    <h2 align="left">마이페이지</h2>
                    <br>
                    
                    <table class="table_my_page">
                        <tbody>   
                            <tr>
                                <th id="table-title">회원정보</th>
                                <td>
                                    <div class="nick-row">
                                        <h3>닉네임</h3>
                                        <form action="/my_page/nickname/" method="POST">
                                            {% csrf_token %}
                                       <input type="text" name="nickname" placeholder="현재 닉네임" value="{{user.nickname}}">
                                       <button class="img-btn">닉네임 수정</button>
                                        
                                       <hr style="width: 80%; margin-top: 10px;">
                                    </form>
                                    </div>
                                    <div class="only-read-row">
                                        <h3 style="margin-bottom: 5px;">이메일</h3>
                                        {{user.email}}
                                        <hr style="width: 80%; margin-top: 10px;">
                                        <h3 style="margin-bottom: 5px;">전화번호</h3>
                                        {{user.phon}}

                                    </div>
                                </td>
                            </tr>
                            <form method="POST" action="/my_page/change_pwd/">
                              {% csrf_token %}
                            <tr>
                                <th id="table-title">비밀번호 변경</th>
                                <td>
                                  <div class="error_message">
                                    {% if messages %}
	                                    {% for message in messages %}
                                        {{ message.message }}
                                      {% endfor %}
                                    {% endif %}
                                    {{error}}
                                  </div>
                                    <div class="ch-pwd-row">
                                        <div style="display: flex; flex-direction: row;">
                                            <input type="password" name="password" placeholder="현재 비밀번호">
                                            <!-- <i class="fa-solid fa-check"></i> -->
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                            <input type="password" id="password" name="new_password1" placeholder="변경 비밀번호">
                                            <i class="fa-solid fa-eye" id="pwd-see-icon" onclick="eye_ch()" style="color: rgb(194, 194, 194); position: absolute; top: 75%; right: 32%;"></i>
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                          <input type="password" name="new_password2" placeholder="변경 비밀번호 재입력">
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                          <button class="img-btn">변경</button>
                                        </div>

                                    </div>
                                    
                                    
                                </td>
                            </tr>
                            </form>
                        </tbody>
                    </table>
                    
                    
                </div>
            </div>


            <div class="content" id="content2">
                <div class="content-left">
                    <h2 align="left">게시글 내역</h2>
                    

                    <div class="table-box">

                        <div class="table-row table-head">
                            <div class="table-cell first-cell">
                                <p>순번</p>
                            </div>
                            <div class="table-cell">
                                <p>제목</p>
                            </div>
                            <div class="table-cell">
                                <p>작성자</p>
                            </div>
                            <div class="table-cell last-cell">
                                <p>작성일</p>
                            </div>
                            
                        </div>
                        
                        {% if community_list %}
                        <form method="POST">
                        {% csrf_token %}
                        {% for community in community_list %}
                        <div class="table-row">
                            
                            <tr>
                                <td><div class="table-cell first-cell">
                                    <p>{{community.com_num}}</p>
                                </div></td>
                                <td><div class="table-cell">
                                    <input type="hidden" name="com_num" value="{{community.com_num}}"></input>
                                <p>
                                    <a href="{% url 'mainapp:detail' community.com_num %}"
                                    >{{community.com_title}}</a
                                    >
                                </p>
                                </div></td>
                                {% if community.nickname is not null %}
                                <td><div class="table-cell">
                                <p>{{community.nickname}}</p>
                                </div></td>
                                {% else %}
                                <td><div class="table-cell">
                                <p>{{community.username}}</p>
                                </div></td>
                                {% endif %}
                                <td><div class="table-cell last-cell">
                                <p>{{community.com_date}}</p>
                                </div></td>
                                </tr>
                            </div>
                        {% endfor %}
                        </form>
                        {% endif %}

                        <!-- 페이징 처리 -->
                        <div class="paging">
                            <ul>
                            <div id="divPaging">
                                <!--  -->
                                {% if community_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ community_list.previous_page_number }}"> ◀ </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> ◀ </a>
                                </li>
                                {% endif %}
                            
                                <!-- 여기 한세트 -->
                    
                                <!--  -->
                                {% for page_number in community_list.paginator.page_range %}
                            
                                {% if page_number == community_list.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                            
                                <!-- 여기 한세트 -->
                                {% endif %} 
                                {% endfor %}
                    
                            
                                {% if community_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ community_list.next_page_number }}"> ▶ </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> ▶ </a>
                                </li>
                                {% endif %}
                            
                    
                            </div>
                            </ul>
                        </div>
                    </div>

                        <h2 align="left">댓글 내역</h2>
                        <div class="table-box">

                            <div class="table-row table-head">
                                <div class="table-cell first-cell">
                                    <p>댓글내용</p>
                                </div>
                                
                                <div class="table-cell last-cell">
                                    <p>작성일</p>
                                </div>
                                
                            </div>
                        
                            {% if comment_list %}
                            <form method="POST">
                            {% csrf_token %}
                            {% for comment in comment_list %}
                            <div class="table-row">
                                
                                <tr>
                                    <td><div class="table-cell first-cell">
                                        <p>{{comment.comment_content}}</p>
                                    </div></td>


                                    <td><div class="table-cell last-cell">
                                    <p>{{comment.comment_modified_date}}</p>
                                    </div></td>
                                    </tr>
                                </div>
                            {% endfor %}
                            </form>
                            {% endif %}

                            <!-- 페이징 처리 -->
                            <div class="paging">
                                <ul>
                                <div id="divPaging">
                                    <!--  -->
                                    {% if comment_list.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page_comment={{ comment_list.previous_page_number }}"> ◀ </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> ◀ </a>
                                    </li>
                                    {% endif %}
                                
                                    <!-- 여기 한세트 -->
                        
                                    <!--  -->
                                    {% for page_number in comment_list.paginator.page_range %}
                                
                                    {% if page_number == comment_list.number %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page_comment={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page_comment={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                
                                    <!-- 여기 한세트 -->
                                    {% endif %} 
                                    {% endfor %}
                        
                                
                                    {% if comment_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page_comment={{ comment_list.next_page_number }}"> ▶ </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> ▶ </a>
                                    </li>
                                    {% endif %}
                                
                        
                                </div>
                                </ul>
                            </div>

                        </div>
                    </div>

                       
                </div>
            </div>

            
        </div>
    

    <script src="/static/js/yun.js"></script>
    <script src="/static/js/user.js"></script>
    <script>
        // 비밀번호 보여주는 함수
        function eye_ch(){
            if(password.type == "password"){
                    password.type= "text";

                }else{
                    password.type= "password";
            }
        }
    </script>
</body>
</html>