{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::: 게시판 페이지 :::</title>
    {% include 'mainapp/include/css.html' %}
    <!-- css파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/article.css" />
  </head>
  <body>
    <div class="header">
      {% include 'mainapp/include/navbar.html' %}

      <div class="container">
        <form
          id="fm"
          name="fm"
          method="POST"
          action="/update/send/{{com_num}}/"
        >
          {% csrf_token %}
          <input type="hidden" name="com_num" value="{{form.com_num}}" />
          <input type="hidden" name="username" value="{{user.username}}" />
          <br /><br />
          <h3 class="title">게시글 수정하기</h3>
          <hr />
          <br />
          <table style="width: 90%">
            <tr>
              <th style="width: 10%"></th>
              <td style="width: 50%">
                <input
                  type="text"
                  name="com_title"
                  size="25"
                  style="height: 35px; width: 100%; font-size: 15px"
                  required
                  value="{{form.com_title.value}}"
                />
              </td>

              <th style="width: 1%"></th>
              <td style="width: 20%">
                <select
                  name="cate_name"
                  style="width: 100%; font-size: 15px; padding: 5px"
                >
                  <option value="차량견적" selected="selected">차량견적</option>
                  <option value="자유">자유</option>
                  <option value="공업사">공업사</option>
                </select>
              </td>
            </tr>
            <tr>
              <th></th>
              <td colspan="3">
                <br />
                <textarea
                  name="com_content"
                  rows="20"
                  cols="55"
                  style="width: 100%; font-size: 15px"
                  required
                >
{{ form.com_content.value }}</textarea
                >
              </td>
            </tr>
            <tr class="button-row">
              <td colspan="4" style="text-align: right">
                <!-- 수정하는 사람과 게시판 유저가 
                  같아야 수정, 삭제 버튼 활성화 -->
                {% if request.user == community.username %}
                <button class="w-btn w-btn-gra1">수정</button>

                <!-- 삭제 버튼 -->
                <button
                  class="delete w-btn w-btn-gra1"
                  onclick="location.href='javascript:void(0)'"
                  data-url="{% url 'mainapp:com_delete' community.com_num %}"
                >
                  삭제
                </button>

                <!-- 버튼 끝 -->
                {% endif %}
                <button class="w-btn w-btn-gra1" onclick="history.back()">
                  뒤로가기
                </button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>

    <!-- js파일불러오기 -->
    <script src="/static/js/user.js"></script>
    {% comment %}
    <script src="/static/js/update.js"></script>
    {% endcomment %}
    <script type="text/javascript">
      const delete_elements = document.getElementsByClassName("delete");
      Array.from(delete_elements).forEach(function (element) {
        element.addEventListener("click", function () {
          if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.url;
          }
        });
      });
    </script>
  </body>
</html>
