/* .container{
    width: 100%;
    height: 160vh;
    background-image: linear-gradient(rgba(200, 200, 200, 0.423),rgba(66, 19, 83, 0.823));
    background-size: cover;
    position: relative;
} */

.title {
    margin-left: 13%; /* 필요한 만큼의 값으로 조정하세요 */
}

hr {
    color: black; /* 색상을 원하는 옅은 색상으로 설정하세요 */
    width: 78%; /* 선의 길이를 80%로 설정하세요 */
    margin-left : 12%;
}

.w-btn {
    /* 원하는 너비와 높이 값을 설정하세요 */
    width: 100px;
    height: 30px;
    font-size: 10px;
}

.w-btn > a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-gra1 {
    /* background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%); */
    background: linear-gradient(45deg,rgba(255,67,128,1) 0%, rgba(149,88,165,1) 44%, rgba(55,84,123,1) 100%);
    color: white;
}

.container .title  {
    margin-bottom: 16px;
    font-size: 22px;
    color: var(--skinTextColor);
}


textarea[name="content"]::placeholder {
    padding-top: 20px; /* 필요한 만큼의 값으로 조정하세요 */
    }

