/* 게시판 페이지 css, table코드를 사용하지않음 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: /*'Black Han Sans',*/ 'poppins', sans-serif; 
    /* 폰트 */
}
.table-box{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 5px auto;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.5);
    
}

.table-cell{
    display: table-cell;
    width: 25%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}

.table-head{
    background-color: #FF4380;
    /* box-shadow: none; */
    color: white;
    font-size: 15px;
}

.table-head .table-cell{
    border-right: none;
}

.last-cell{
    border-right: none;
}

.first-cell{
    text-align: left;
    padding-left: 10px;
}


.container h2{
    text-align: center;
   
    margin: 50px 0 10px;
}

.table-box button{
    text-decoration: none;
    border: none;
    background: #FF4380;
    color: white;
    width: 30%;
    max-width: 100px;
    display: block;
    text-align: center;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5%;
    font-size: 20px; 
    margin-left: 83%;
}


/* 페이징 넘기기(화살표) */

#divPaging {
    clear:both; 
    margin:0 auto; 
    width:220px; 
    height:50px;
}

#divPaging > div {
    float:left;
    width: 30px;
    margin:0 auto;
    text-align:center;
}

li{
    list-style: none;
}

/* 검색기능 */
#liSearchOption > div {
    width:auto; 
    justify-content: flex-end;
        
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: /*'Black Han Sans',*/ 'poppins', sans-serif; 
    /* 폰트 */
}



.header{
    height: 15vh;
    width: 100%;
    /* 배경높이 조절 */
    background: linear-gradient(59deg, rgba(255,67,128,1) 0%, rgba(149,88,165,1) 44%, rgba(55,84,123,1) 100%);
    
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;

}

.logo{
    width: 130px;
    cursor: pointer; /*마우스 올렸을때 마우스 커서를 손모양으로 바꿔줌*/
}

.nav-links li{
    list-style: none; /* li태그의 밑줄을 없애고 앞에 원도 떼어버림(글자만 나타나게) */
    display: inline-block; /* block을 inline-block으로 세로로 정렬되어있던 li를 가로로 정렬하는 기능 */
    margin: 10px 30px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
}
.nav-links li a:hover{
    color: #FF4380;
}


.login-btn{
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none; /* 밑줄 없애기 */
    font-size: 14px;
}

.container{
    padding: 0 5%;  
}

.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 8%;
}

/* --------------로그인 상태의 유저가 프로필 사진 클릭시 나타나는 drop-down profile과 관련있는 css시작------------- */
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.sub-menu-wrap{
    position: absolute;
    top: 11%; 
    /* 위에서 얼마나 떨어져 있는지 */
    right: 6.5%;
    /* 오른쪽으로 얼마나 떨어져 있는지 */
    width: 320px;
    max-height: 0px;  /* 0px이면  프로필 창이 안보이고 400px인 경우 나타남*/
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}


.sub-menu{
    background: whitesmoke;
    padding: 20px;
    margin: 5px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 5px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link span{
    font-size: 25px; /* > 사이즈 */
    transition: transform 0.3s; /* > 움직이는 속도 조절 */
}

.sub-menu-link:hover span{
    transform: translateX(5px);  /* 마우스 올려놓을 시 >가 움직이는 x좌표 거리  */
    color: #FF4380;
}
.sub-menu-link:hover p{
    color: #FF4380;
}
/* ------------------------------------------------------------------------------------------ */



.active{
    position: relative;
}

/* 큰 미디어 화면에서는 메뉴 아이콘이 나타나지 않도록 none */
nav .fa-bars{
    display: none;
}


/* -----------------for small screen devices--------------------- */
@media only screen and (max-width: 700px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #5D5A98;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }

    .login-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }

    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #FF4380;
        font-size: 28px;
    }
    .active::after{
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
    }

    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }

    .img-input{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }

    .img-input form{
        display: block;
    }
    
    
}

/* 게시물 작성 수정작업 */
.board{
    margin-top: 17px;
}

.p-table1{
    margin-top: 15px;
}

.p-table1 select{
    width: 200px; 
    font-size: 20px; 
    padding: 5px;
}


.p-table2{
    margin-top: 20px;
}