/* 게시판 페이지 css, table코드를 사용하지않음 */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    
}
h3{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
}



.image-upload button{
    padding: 10px 25px;
    font-size: 20px;
    /* font-weight: 500; */
    border: none;
    outline: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 79, 79);
    /* 버튼색깔 */
    
    margin: 10px 0 15px 0;
    border-radius: 5px;
    cursor: pointer;
}
/* -----------드래그 앤 드롭-----------  */
.drag-area{
    
    /* height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    
    /* 파일 드로그 앤 드롭 동작하는 범위 뒤 껍데기 여기까지 드로그앱드롭이 되어야함 */
    width: 600px;
    height: 500px;
}
.drag-area.active{
    border: 5px solid rgb(89, 89, 89);

}
/* .drag-area .icon{
    font-size: 100px;
    color: black;
}
.drag-area h2{
    font-size: 30px;
    font-weight: 600;
    color: black;
}
.drag-area span{
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin: 10px 0 15px 0;
} */
/* .drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    text-align: center;
    color: black;
    
    margin: 10px 0 15px 0;
    border-radius: 5px;
    cursor: pointer;
} */


/* ------------------- */
.file-input {
    width: 25%;
  }
input::-webkit-file-upload-button {
  display: none;
  }


#car_data{
    max-width: 30%;
    max-height: 50%;
    position: absolute;
    left: 44%;
    top: 85%;
    z-index: 10;
}

/* 수정본 */
.image-upload input{
    padding: 10px 25px;
    font-size: 20px;
   
    height: 450px;
    
    border: 5px dashed rgb(89, 89, 89);

    text-align: center;
    color: rgb(255, 255, 255);
    
    /* 파일 드로그 앤 드롭 동작하는 범위 */
    /* margin: 0; */
    border-radius: 5px;
    cursor: pointer;
}
#imagePreview{
    height: 0;
    width: 0;
  }

.drag-area img{
    position: relative;
    transform: translate(4.5%, -106%);
    height: 400px;
    width: 550px;

}