.element {
    padding-top: 50px;
    padding-left: 100px;
}
  

.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.preview-image {
    max-width: 300px;
    margin-top: 10px;
}
